{
  "extends": ["airbnb-base", "eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
