@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.boilerplate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  * {
    align-self: center;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0;
  }
}
